<div class="home-container">
    <mat-toolbar color="primary" class="toolbar">
      <span>🍽️ Bem-vindo ao Nosso Restaurante</span>
    </mat-toolbar>
  
    <div class="home-content">
      <h1>Delícias Inesquecíveis Esperam por Você!</h1>
      <p>Saboreie pratos incríveis preparados com ingredientes frescos e de alta qualidade.</p>
      <p>Venha viver uma experiência gastronômica única!</p>
  
      <button (click)="loginAction()" mat-raised-button color="accent">
        Entrar 
      </button>

      <br>
      <button (click)="signupAction()" mat-raised-button color="accent">
        Inscrever!
      </button>
      <br>
      <a (click)="forgotPasswordAction()">
        Forgot Password?
      </a>
    </div>
  </div>
  