.float-right {
    float: right;
}

mat-card {
    padding: 15px 15px 0 15px;
}


table {
    margin-top: 15px;
    width: 100%;
}

.center-table th,
.center-table td {
    text-align: center;
    vertical-align: middle;
}

.div-button {
    width: 15%;
    margin: 15px 0 15px 0;
}

.action-link{
    cursor: pointer;


}