.mat-toolbar{
    width: auto;
    margin-bottom: 10px;

}

.mat-toolbar-row{
    justify-content: center;
}

.custom-toolbar {
    height: 10px; 
}

.title-center{
    flex: 1 1 auto;
    text-align: center;
}

mat-form-field {
    padding: 5px;;
}